$blueColor: rgb(0, 195, 255);

.myCard {
    padding: 0px !important;

}

.imgCard {
    width: 100%;
    height: 200px !important;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.cardTitle {
    font-size: large;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 20px;
}



.cardCart,
.cardCalendar {
    color: $blueColor;
}

.cardFooter {
    padding-top: 5px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.cardShare {
    margin-top: 2px;
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $blueColor;
    border-radius: 100%;
    i {
        font-size: 14px;
    }
}


.cartIconButton{
    cursor: pointer;
}
.cartIconButton:hover{
    transform: scale(1.1) ;
}
