$animationSpeed: 0.3s;

.material-textfield {
    position: relative;
    height: fit-content;

    label {
        position: absolute;
        font-size: 1.2rem;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        color: gray;
        padding: 0 0.3rem;
        margin: 0 0.5rem;
        transition: $animationSpeed ease-out;
        transform-origin: left top;
        pointer-events: none;
    }
    input {
        font-size: 1.7rem;
        font-weight: 400;
        color: black;
        outline: none;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 0.5rem 0.7rem;
        background-color: white !important;
        transition: $animationSpeed ease-out;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        box-shadow: 0 0 0 30px white inset !important;
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    /*Change text in autofill textbox*/
    input:-webkit-autofill {
        -webkit-text-fill-color: black !important;
    }

    input:focus + label {
        color: #6200ee;
        top: 0;
        transform: translateY(-50%) translateX(-15px) scale(0.9);
    }
    input:not(:placeholder-shown) + label {
        top: 0;
        color: #6200ee;
        transform: translateY(-50%) translateX(-15px) scale(0.9);
    }
}
