$animationSpeed: 0.3s;

.material-textfield {
    position: relative;
    height: fit-content;

  label {
    position: absolute;
    font-size: 1.2rem;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: $animationSpeed ease-out;
    transform-origin: left top;
    pointer-events: none;
  }
  input {
    font-size: 1.7rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    color: gray;
    transition: $animationSpeed ease-out;
  }
  input:focus {
    border-color: #6200EE;
  }
  input:focus + label {
    color: #6200EE;
    top: 0;
    transform: translateY(-50%) translateX(-15px)  scale(.9);
  }
  input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) translateX(-15px)  scale(.9);
  }
}
