.main-header.header-style-two .header-top .top-right ul > li .icon {
    background: transparent !important;
}

.main-header.header-style-two .header-top {
    background: transparent !important;
}

.main-header.header-style-two {
    background: rgba(0, 0, 0, 0.2) !important;
}
.main-header.header-style-two.transparency {
    position: absolute;
}
.main-header.header-style-two.notTransparency {
    position: relative;
}

.main-header .header-upper {
    background-color: white;
}

.main-header .header-top ul.top-links > li > .icon {
    color: white !important;
}

.main-header .dropdown-option li.language > a {
    color: white !important;
}

.main-header.header-style-two .header-top .top-right ul > li {
    color: white !important;
}
section.about-section {
    margin-top: 20px;
}
.news-block .inner-box .image img {
    object-fit: cover;
    height: 200px;
}
.news-section {
    padding-top: 30px;
}
.main-footer .posts-widget .post h4 a {
    color: #a1ffdc;
    background-color: #93000096;
}

@media only screen and (max-width: 768px) {
    .main-header .header-upper {
        background-color: #0000004d;
    }
    .main-header.header-style-two .header-top {
        display: none;
    }
}
@media only screen and (max-width: 1215px) {
    .detailsView {
        padding: 0px 15px;
    }
}
.detailsView {
    display: none;
}
.searchBar {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}
.mainDetallesText {
    margin-right: 80px;
    flex-grow: 1;
}

.center {
    text-align: center;
}
.detailsBackButton {
    height: 25px;
    width: 25px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.imageContainer {
    flex-grow: 1;
    max-width: 50vw;
    margin: 20px;
}
.detailText {
    flex-grow: 1;
}
.detailContainer {
    display: flex;
}
.subNavBAr {
    display: flex;
}

.mx-15vw {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

@media only screen and (min-width: 640px) {
    .mx-15vw {
        margin-left: 15vw !important;
        margin-right: 15vw !important;
    }
}

.TituloDetails {
    font-size: 2rem;
    color: black;
}
.detailsSubContainer {
    border: 1px solid gainsboro;
    flex-direction: column-reverse;
}

@media only screen and (max-width: 767px) {
    .smallFull {
        width: 100% !important;
    }
}
@media only screen and (min-width: 768px) {
    .detailsSubContainer {
        border: 2px solid gainsboro;
        padding: 3rem;
        flex-direction: row;
    }
}

.detailsTable {
    table-layout: fixed;
    th.keyTable {
        width: 15%;
    }

    .celdaTable {
        width: 85%;
        display: flex;
        white-space: nowrap;
    }
}
.squareIcon {
    width: 30px;
    height: 30px;
    background-color: #34c3ee;
    border-radius: 100px;
    padding: 6px;
    padding: 5px;
    cursor: pointer;
}
.handShakeIcon {
    width: 30px;
    height: 30px;
    background-color: #34c3ee;
    border-radius: 100px;
    padding: 6px 3px;
    cursor: pointer;
}
.storeIcon {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    padding: 6px 3px;
    cursor: pointer;
}
.icPointer {
    cursor: pointer;
}
.iconDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.iconValueDetails {
    color: #ff8201;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 20px;
}
.celdaTable {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
}
.brouchure-widget {
    padding-right: 40px;
}

.contact-widget .inner-box ul li i {
    color: white !important;
}

.squareContainer {
    border: 1px solid black;
    padding: 30px 10px;
}
.text-doc {
    color: #34c3ee;
    font-size: large;
    font-weight: 700;

    position: relative;
    bottom: -12px;
    left: 25px;
    z-index: 10;
    background: white;
    width: fit-content;
}

.brouchure-widget {
    padding-right: 0px !important;
}


.color-less-black{
    background-color: #32343cf2 !important;
}
