/*Theme Color File*/

a,
.theme_color,
.main-header .header-top .top-left ul > li > .icon,
.header-upper .main-menu .navigation > li:hover > a,
.header-upper .main-menu .navigation > li.current > a,
.header-upper .main-menu .navigation > li.current-menu-item > a,
.main-menu .navigation > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li  > ul > li > a:hover,
.main-header .nav-outer .dropdown-outer .search-box-btn,
.services-block .inner-box .icon-box,
.list-style-one li:before,
.btn-style-three,
.btn-style-six,
.featured-block-two .inner-box h3 a:hover,
.featured-block-two .inner-box .icon-box,
.counter-section .count-box .inner .content .icon-box,
.btn-style-four,
.news-block .inner-box .lower-content .post-date,
.news-block .inner-box .lower-content h3 a:hover,
.testimonial-block .inner-box .content-column .location,
.social-icon-one a:hover,
.header-style-two .info-box .icon-box,
.news-block-two .inner-box .lower-content .content h3 a:hover,
.news-block-two .inner-box .lower-content .content .read-more,
.news-block-two .inner-box .lower-content .content .icon-box,
.services-block-two .inner-box h3 a:hover,
.services-block-two .inner-box .title,
.services-block-two .inner-box .icon-box,
.services-section .title-column .inner .free-consult,
.accordion-box .block .icon-outer .icon,
.project-tab .product-tab-btns .p-tab-btn.active-btn,
.testimonial-block-two .inner-box .location,
.team-member .inner-box .lower-content .designation,
.social-icon-two li a:hover,
.header-style-three .info-box .icon-box,
.services-block-four .inner-box .icon-box,
.gallery-filters li:hover,
.gallery-filters li.active,
.project-block-one .inner-box:hover .lower-content h3 a,
.services-block-five .inner-box:hover .icon-box,
.testimonial-block-three .inner-box .lower-box .location,
.news-block-three .inner-box .lower-content .content h3 a:hover,
.welcome-block .inner-box .overlay-box .content .content-inner .icon-box,
.featured-section-four .inner-box .icon-box,
.featured-section-four .inner-box h3 a:hover,
.featured-section-four .inner-box .read-more:hover,
.services-block-six .inner-box h3 a:hover,
.news-block-four .inner-box .lower-content .content h3 a:hover,
.news-block-four .inner-box .content .post-time,
.page-info .bread-crumb li,
.page-info .share-icon a,
.page-info .bread-crumb li a:hover,
.services-category .services-list li a .icon,
.list-style-three li:before,
.services-block-seven .inner .icon-box,
.services-block-seven .inner h3 a:hover,
.accordion-box.style-five .block .acc-btn.active,
.feature-block .inner-box .lower-content h3 a:hover,
.approach-section .owl-nav .owl-prev:hover,
.approach-section .owl-nav .owl-next:hover,
.featured-block-three .inner-box .icon-box,
.featured-block-three .inner-box .title,
.featured-block-three .inner-box .overlay-box .overlay-title,
.news-block-five .inner-box .lower-content h3 a:hover,
.press-block .inner-box .content-column .content-inner h3 a:hover,
.press-block .inner-box .content-column .content-inner .title,
.consult-form .form-group label,
.case-block .inner-box .lower-content .category,
.case-block .inner-box .lower-content h3 a:hover,
.blog-cat li a:hover,
.sidebar .popular-posts .post a,
.sidebar .popular-posts .post a:hover,
.sidebar .popular-posts .post-info,
.case-single .inner-box .info-column .inner-box ul li span,
.case-single .inner-box .info-column .inner-box ul li span:after,
.case-single .inner-box .content-column .inner-column .title,
.news-block-six .inner-box .lower-content .post-info li,
.news-block-six .inner-box .lower-content h3 a:hover,
.blog-single .inner-box .lower-content .text .quote-column .designation,
.blog-single .inner-box .lower-content .post-share-options .tags a,
.sidebar-page-container .comments-area .comment .comment-inner .rating .fa,
.comment-form .rating-box .rating a,
.blog-single .inner-box .post-info li,
.info-list li .icon,
.contact-widget .inner-box .contact-btn .icon,
.feedback-section .owl-nav .owl-next:hover,
.feedback-section .owl-nav .owl-prev:hover{
	color:#ff0000;
}

/*Background Color*/

.main-header .dropdown-option li.language > a,
.main-header .language .dropdown-menu > li > a:hover,
.btn-style-one,
.btn-style-two:hover,
.main-slider .uranus.tparrows:hover,
.scroll-to-top:hover,
.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li.current-menu-item > a,
.services-block .inner-box .overlay-box,
.about-section .content-column .inner-box .image-column .image .image-content .content,
.btn-style-three:hover,
.sec-title h2:before,
.featured-block-two .inner-box:hover .icon-box,
.call-to-action,
.btn-style-four:hover,
.testimonial-block .inner-box .image-column .image .quote-icon,
.testimonial-section .owl-dots .owl-dot.active span,
.testimonial-section .owl-dots .owl-dot:hover span,
.info-section .inner-section,
.header-style-two .consult-btn:hover,
.header-style-two .header-lower,
.news-block-two .inner-box:hover .lower-content .icon-box,
.services-section .title-column .inner h2:before,
.testimonial-block-two .inner-box:hover .quote-icon,
.testimonial-section-two .owl-dots .owl-dot.active span,
.testimonial-section-two .owl-dots .owl-dot:hover span,
.header-style-three .header-top.style-three,
.btn-style-five,
.services-block-four .inner-box:hover,
.team-section .owl-dots .owl-dot.active span,
.team-section .owl-dots .owl-dot:hover span,
.header-style-four .nav-outer .more-options .cart-box .total-cart,
.services-block-six .inner-box:hover .icon-box,
.services-category .services-list li.active span,
.services-category .services-list li a:hover span,
.contact-widget .inner-box,
.accordion-box.style-five .block .acc-btn.active .icon-outer,
.news-block-five .inner-box .image .post-date,
.history-section .owl-dots .owl-dot.active span,
.history-section .owl-dots .owl-dot:hover span,
.request-section .info-column .inner-column,
.press-section .owl-dots .owl-dot.active span,
.press-section .owl-dots .owl-dot:hover span,
.styled-pagination li a:hover,
.styled-pagination li a.active,
.case-section .filters .filter.active,
.case-section .filters .filter:hover,
.sidebar .search-box .form-group input:focus + button,
.sidebar .search-box .form-group button:hover,
.sidebar .popular-tags a:hover,
.social-icon-three li a:hover,
.contact-tabs .tab-btns .tab-btn:before,
.contact-form h2:after,
.btn-style-six:hover,
.header-style-two .nav-outer .more-options .location-dropdown .dropdown-menu > li > a:hover{
	background-color:#ff0000;
}

.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li.current-menu-item > a{
	background-color:#ff0000 !important;	
}

/*Border Color*/

.main-header .language .dropdown-menu,
.main-menu .navigation > li > ul,
.main-menu .navigation > li > ul > li > ul,
.main-header .nav-outer .dropdown-outer .search-box-btn:hover,
.main-header .nav-outer .dropdown-outer .dropdown-menu,
.main-header .search-panel input[type="text"]:focus,
.main-header .search-panel input[type="search"]:focus,
.main-slider h2,
.btn-style-one,
.btn-style-two:hover,
.services-block .inner-box .overlay-box,
.btn-style-three:hover,
.clients-section .image-box:hover,
.btn-style-four:hover,
.header-style-two .consult-btn:hover,
.news-block-two .inner-box:hover .lower-content .icon-box,
.news-block-two .inner-box:hover .lower-content,
.testimonial-block-two .inner-box:hover,
.testimonial-block-two .inner-box:hover .quote-icon,
.subscribe-form .form-group input[type="text"]:focus,
.subscribe-form .form-group input[type="email"]:focus,
.btn-style-five,
.services-block-four .inner-box:hover,
.news-block-three .inner-box:hover .lower-content,
.header-style-four .main-menu .navigation > li.current a,
.header-style-four .main-menu .navigation > li > a:hover,
.featured-section-four .inner-box:hover,
.services-block-six .inner-box:hover .icon-box,
.news-block-four .inner-box:hover .lower-content,
.featured-block-three .inner-box .overlay-box,
.consult-section .section-inner .image .content,
.consult-form input:focus,
.consult-form select:focus,
.consult-form textarea:focus,
.styled-pagination li a:hover,
.styled-pagination li a.active,
.sidebar .popular-tags a:hover,
.sidebar .search-box .form-group input[type="text"]:focus,
.sidebar .search-box .form-group input[type="search"]:focus,
.social-icon-three li a:hover,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.btn-style-six,
.header-style-two .nav-outer .more-options .location-dropdown .dropdown-menu,
.feedback-section .owl-nav .owl-next:hover,
.feedback-section .owl-nav .owl-prev:hover{
	border-color:#ff0000;
}

/*RGBA Color*/

.gallery-item .overlay-box,
.services-block-three .inner-box .overlay-box:before,
.project-block-one .image-box .overlay-box,
.services-section-two:before,
.testimonial-section-three:before,
.page-title:before{
	background-color:rgba(255,0,0,0.90);
}

@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.header-style-two.inner-header .main-menu .navigation > li > a{
		background-color:#ff0000;
	}
	
	.header-style-three .navbar-header .navbar-toggle,
	.main-header.header-style-four .main-menu .navbar-header .navbar-toggle{
		border-color:#ff0000;
	}
	
}