/*Custom inputs*/
.form-group .custom-input {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    color: #474747;
    line-height: 28px;
    padding: 10px 20px;
    font-size: 14px;
    background: none;
    transition: all 500ms ease;
    border: 1px solid #ececec;
}



.mar-bottom-0 {
    margin-bottom: 0px !important;
}


/*Custom paddings*/
.padd-top-45 {
    padding-top: 45px;
}

/* Custom premium card icon background*/
.services-block-eleven .img-holder .icon-box {
    background: #34c3ed !important;
}

/* Custom Flex Property on Main NavBar */
@media only screen and (min-width: 991px) and (max-width: 1025px) {
    .main-menu .navbar-collapse>.navigation {
        display: flex;
        justify-content: space-between;
    }
}


.proyect-presentation-text {
    line-height: 1.8em;
    font-size: 16px;
    color: #848484;
    font-weight: 300;
    text-align: justify;
}
